/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

/* Main */
main {
    max-width: 1000px;
    margin: 3rem auto;
}

main > h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

main > p {
    padding: 0 14rem;
    color: rgb(71, 70, 70);
    margin-bottom: 2rem;
}

main h1,
main p {
    text-align: center;
}

main .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .wrapper article.card {
    width: calc(100% / 3 - 2rem);
    margin: 0 2rem 2rem 0;
    background-color: white;
}

/* Card */
article.card .imgWrapper img {
    width: 100%;
}

article.card .infoWrapper {
    padding: .75rem;
    text-align: center;
}

article.card .infoWrapper h3 {
    margin-bottom: .25rem;
    font-size: 1.45rem;
}

article.card .infoWrapper p {
    font-size: .9rem;
    color: rgb(135, 128, 128);
}